.checkout {
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr .7fr;
      }
}

.cart-items, .summary {
}

.summary {
    border-radius: var(--border-radious);
    margin: var(--margin-small);
    padding: var(--padding-small);
    background-color: var(--secondary);
    height: fit-content;

    > h2 {
        color: var(--primary);
    }

    :nth-child(2) {
        font-size: medium;
        color: var(--primary);
    }
    :nth-child(3) {
        font-size: small;
        color: lightgray;
    }
    :nth-child(5) {
        font-size: large;
        color: var(--accent);
    }
    
    :nth-child(6) {
        margin-top: var(--unit-small);
        display: flex;
        justify-content: space-around;
        
        & > button {
            cursor: pointer;
            font-size: medium;
            border-radius: var(--border-radious);
            color: var(--text);
            border: 2px solid var(--primary);
            width: 35%;
            background-color: var(--primary);
            padding: calc(var(--unit-small) * 0.3);
            transition: background-color 150ms ease-in;

            &:hover {
                transition: color 100ms ease-out;
                color: rgb(190, 190, 190);
            }
            
            &:active {
                background-color: var(--background);
                transition: background-color 25ms ease-out;
            }
        }

        :nth-child(2) {
            background-color: var(--accent);
        }
    }
    

}

